# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/

# IDE / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Git
.gitignore
myenv/
tenzin/
